{% extends 'base.html' %}


{% block styles %}
{{ super()}}

<link href="https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker&display=swap" rel="stylesheet">

{% endblock%}
{% block content %}


{% for post in posts %}
<div class="container">
    <div class="col-md-4">
        <a href="{{url_for('main.new_post')}}"> CREATE POST</a>
    </div>
    <div class="col-md-4">
            <!-- <a href="{{url_for('main.update_post',post_id = post.id)}}"> UPDATE POST</a> -->
            <a href="/post/{{post.id}}/update"> UPDATE POST</a>
        </div>
        <div class="col-md-4">
                <a href="{{url_for('main.delete_post', post_id = post.id)}}"> DELETE POST</a>
            </div>
    

    <h2>{{post.post_title}}</a></h2>
    <p>{{post.post_content}}</p>
    {% endfor %}

</div>


{% endblock %}